﻿@model Buffet.ViewModels.Categoria.CadastrarItemViewModel

@{
    ViewData["Title"] = "Cadastro de Categorias";
}
<h1>@ViewData["Title"]</h1>

<a href="/"> Voltar</a> <br />

<form action="/Categoria/Cadastrar" method="POST">
    <div class="mb-3">
        <label for="nome" class="form-label">Descrição:</label>
        <input required type="text" class="form-control" id="nome" name="cpNome" />
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary bg-dark">Cadastrar</button>
    </div><br />
</form>
