﻿@model Buffet.ViewModels.Item.CadastrarItemViewModel
@{
    ViewData["Title"] = "Cadastro de item";
}
<h1>@ViewData["Title"]</h1>

@if(Model.FormMensagensErro != null)
{
    <ul>
        @foreach(var msgErro in Model.FormMensagensErro)
         {
            <li>@msgErro</li>
         }
    </ul>
}

<form action="/Evento/Cadastrar" method="POST">
    <div class="mb-3">
        <label for="tipo" class="form-label">Nome:</label>
        <input required type="text" class="form-control" id="tipo" name="cpTipo" />
    </div>

    <div class="mb-3">
        <label for="desccricao" class="form-label">Descrição:</label>
        <input required type="text" class="form-control" id="descricao" name="cpDescricao" />
    </div>

    <div class="mb-3">
        <label for="data1" class="form-label">Data Fabricação:</label>
        <input required="" type="date" class="form-control" id="data1" name="cpData1" />
    </div>

    <div class="mb-3">
        <label for="cliente" class="form-label">Consumo Watts:</label>
        <input required type="text" class="form-control" id="cliente" name="cpCliente" />
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary bg-dark">Cadastrar</button>
    </div><br />
</form>
