﻿@using Buffet.ViewModels.Categoria
@model Buffet.ViewModels.Categoria.CadastrarItemViewModel

@{
    ViewData["Title"] = "Categoria";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <a asp-controller="Home" asp-action="CadastraCategorias"><button class="btn btn-primary bg-dark">Cadastrar</button></a>
    <!--<a asp-controller="Home" asp-action="EditaCliente"><button class="btn btn-primary bg-dark">Editar</button></a>-->
</div><br />

<div style="align-content:center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Categoria c in Model.clientes)
            {
            <tr>
                <td>@c.id</td>
                <td>@c.descricao</td>
                <td><a href="/Categorias/Editar/@c.id">E</a></td>
                <td><a href="/Categorias/Excluir/@c.id">X</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>