﻿@model Buffet.ViewModels.Item.EditarItemViewModel
@{
    ViewData["Title"] = "Edição de item";
}

<h1>@ViewData["Title"]</h1>

@if(@Model.FormMensagensErro != null)
{
    <ul>
        @foreach (var msgErro in Model.FormMensagensErro)
         {
            <li>@msgErro</li>
         }
    </ul>
}

<form action="/Evento/Editar/@Model.Id" method="POST">
    <div class="mb-3">
        <label for="tipo" class="form-label">Nome:</label>
        <input required type="text" class="form-control" id="tipo" name="cpTipo" value="@Model.Nome" />
    </div>

    <div class="mb-3">
        <label for="desccricao" class="form-label">Descrição:</label>
        <input required type="text" class="form-control" id="descricao" name="cpDescricao" value="@Model.Descricao"/>
    </div>

    <div class="mb-3">
        <label for="data1" class="form-label">Data Fabricação:</label>
        <input required="" type="date" class="form-control" id="data1" name="cpData1" value="@Model.DataFabricacao" />
    </div>

    <div class="mb-3">
        <label for="cliente" class="form-label">Consumo Watts:</label>
        <input required type="text" class="form-control" id="cliente" name="cpCliente" value="@Model.ConsumoWatts"/>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary bg-dark">Cadastrar</button>
    </div><br />
</form>
