﻿@model Buffet.ViewModels.Categoria.EditarCategoriaViewModel
@{
    ViewData["Title"] = "Edição de categoria";
}

<h1>@ViewData["Title"]</h1>
<a href="/">Voltar</a>

@if (Model.FormMensagensErro != null)
{
    <ul>
        @foreach (var msgErro in Model.FormMensagensErro)
         {
            <li>@msgErro</li>
         }
    </ul>
}
<form action="/Categoria/Editar/@Model.Id" method="POST">
    <div class="mb-3">
        <label for="nome" class="form-label">Descrição:</label>
        <input required type="text" class="form-control" id="nome" name="cpNome" value="@Model.Descricao" />
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary bg-dark">Salvar</button>
    </div><br />
</form>
