﻿@using Buffet.ViewModels.Item
@model Buffet.ViewModels.Item.CadastrarItemViewModel
    o
@{
    ViewData["Title"] = "Item";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <a asp-controller="Home" asp-action="CadastraItem"><button class="btn btn-primary bg-dark">Cadastrar</button></a>
    <!--<a asp-controller="Home" asp-action="EditaCliente"><button class="btn btn-primary bg-dark">Editar</button></a>-->
</div>
<br />

<div style="align-content:center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Categoria</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Consumo</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Item item in Model.Item)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CategoriaId</td>
                    <td>@item.Nome</td>
                    <td>@item.Descricao</td>
                    <td>@item.ConsumoWatts</td>
                    <td><a href="/Item/Excluir/@item.Id"></td>
                </tr>
            }
        </tbody>
    </table>
</div>