﻿@using Atividade1.Controllers
@model Buffet.Models.Usuario.AcessoService
@{ string novaSenha = null;}
@{
    ViewData["Title"] = "Painel usuário";
    var usuario = ViewBag.usuarioValidado;
}
<h1>@ViewData["Title"]</h1>

<div style="width:22%; margin-bottom:2%; border: gray 1px solid; border-radius: 4px; padding: 12px; float:right;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Histórico de acessos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">20/05/2020 15:38</th>
            </tr>
            <tr>
                <th scope="row">11/04/2020 20:51</th>
            </tr>
        </tbody>
    </table>
</div>

<div style="width:65%; margin-bottom:2%; border: gray 1px solid; border-radius: 4px; padding: 12px;">
    <form method="POST" action="@Buffet.Models.Usuario.AcessoService.SalvarAlteracoes(usuario, usuario.Login, usuario.Senha, novaSenha)">
        <div class="form-inline form-group"><label class="form-label">ID: @usuario.Id</label></div>
        <div class="mb-3">
            <div class="form-inline form-group">
                <label for="login" class="form-label mr-1">Login</label>
                <input type="text" style="width:86%;" class="form-control" name="login" id="login" value="@usuario.Login">
            </div>
        </div>
        <div class="mb-3">
            <div class="form-inline form-group">
                <label for="senha" class="form-label mr-1">Senha</label>
                <input type="password" style="width:85%;" class="form-control" name="senha" id="senha" value="@usuario.Senha">
                <small class="text-muted ml-5">Não compartilhe sua senha com ninguém.</small>
            </div>
        </div>
        <input style="float: right;" type="submit" class="btn btn-primary" name="salvar" id="salvar" value="Salvar alterações"> <br /><br />
    </form>
</div>
