﻿@using Buffet.ViewModels.Parametro
@model Buffet.ViewModels.Parametro.ParametroViewModel

@{
    ViewData["Title"] = "Parametro";
}
<h1>@ViewData["Title"]</h1>

@if (@Model.MensagemSucesso != null)
{
    <p><em>@Model.MensagemSucesso</em></p>
}

@if (@Model.MensagemErro != null)
{
    <p><em>@Model.MensagemErro</em></p>
}

<div class="text-center">
    <a asp-controller="Home" asp-action="CadastraParametro"><button class="btn btn-primary bg-dark">Cadastrar</button></a>
    <!--<a asp-controller="Home" asp-action="EditaEvento"><button class="btn btn-primary bg-dark">Editar</button></a>-->
</div>
<br />

<div style="align-content:center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Valor Kwh</th>
                <th>Faixa Consumo Alto</th>
                <th>Faixa Consumo Medio</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Parametro p in Model.parametro)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.ValorKwh</td>
                    <td>@p.FaixaConsumoAlto</td>
                    <td>@p.FaixaConsumoMedio</td>
                    <td><a href="/Parametro/Editar/@p.Id">E</a></td>
                    <td><a href="/Parametro/Remover/@p.Id">X</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>