﻿@model Buffet.ViewModels.Item.RemoverItemViewModel

@{
    ViewData["Title"] = "Remove item";
}
<h1>@ViewData["Title"]</h1>

<a href="/"> Voltar</a> <br />

@if(Model.FormMensagensErro != null)
{
    <ul>
        @foreach (var msgErro in Model.FormMensagensErro)
        {
            <li>@msgErro</li>
        }
    </ul>
}

<form action="/Item/Remover/@Model.Id" method="POST">
    <p>Dados do Item a ser removido</p>
    <ul>
        <li><strong>Id:</strong> @Model.Id</li>
        <li><strong>Nome:</strong> @Model.Nome</li>
        <li><strong>Categoria:</strong> @Model.CategoriaId</li>
        <li><strong>Descrição:</strong> @Model.Descricao</li>
        <li><strong>Data Fabricação:</strong> @Model.DataFabricacao</li>
        <li><strong>Consumo:</strong>@Model.ConsumoWatts</li>
        <li><strong>Horas de uso:</strong> @Model.HorasUsoDiario</li>
    </ul>

    <p><strong>Atenção:</strong>Essa operação não pode ser desfeita!</p>

    <div class="text-center">
        <button type="submit" class="btn btn-primary bg-dark">Confirma</button>
    </div><br />
</form>
