﻿@model Buffet.ViewModels.Categoria.RemoverItemViewModel

@{
    ViewData["Title"] = "Remove Categoria";
}
<h1>@ViewData["Title"]</h1>

<a href="/"> Voltar</a> <br />

@if(Model.FormMensagensErro != null)
{
    <ul>
        @foreach (var msgErro in Model.FormMensagensErro)
        {
            <li>@msgErro</li>
        }
    </ul>
}

<form action="/Categoria/Remover/@Model.Id" method="POST">
    <p>Dados do evento a ser removido</p>
    <ul>
        <li><strong>Id:</strong> @Model.Id</li>
        <li><strong>Descrição:</strong> @Model.Descricao</li>
    </ul>

    <p><strong>Atenção:</strong>Essa operação não pode ser desfeita!</p>

    <div class="text-center">
        <button type="submit" class="btn btn-primary bg-dark">Confirma</button>
    </div><br />
</form>
